.card
{
    border-bottom: 3px solid rgba(0, 0, 0, 0.7);
}
.img_perfil
{
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
.btn_color
{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
    margin-top: 10px;
    font-weight: bold;
}
.reacciones
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    background-color: rgba(175, 163, 163, 0.2);
    border-radius: 15px;
    margin: 10px;
}

.reacciones .btn_reaccion:hover,
.comment button:hover
{
    background-color: rgba(134, 127, 127, 0.2);
    
}
.publicidad
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.publicidad .img_publicidad
{
    max-width: 150px;
    
}
.texto_publicidad
{   
    font-size: 0.8;
    color: rgba(0, 0, 0, 0.7);
    padding: 5px 5px;
}
.h3_publicidad
{
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    letter-spacing: 1px;
}
.p_parrafo
{
    padding: 0 30px;
    font-size: 1.2em;
    font-weight: 500;
}
.reacciones .btn_reaccion_active
{
    font-size: 1.2em;
    font-weight: 700;
}

.numero_de_reacciones
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(202, 191, 191, 0.2);
    border-radius: 15px;
    margin: -10px 30px;
    padding: 5px 0;
}
.numero_de_reacciones .numero_de_likes,
.numero_de_reacciones .numero_de_comen_comp
{
    color: grey;
   
}
.comment button
{
    border: none;
    outline: none;
    color: #0079ff;
}
.img_comentarios
{
    max-width: 40px;
    border-radius: 50%;
}
.comentarios
{
    background-color: rgba(202, 191, 191, 0.2);
    border-radius: 15px;
    padding: 5px 0;
    margin: 10px 0;
}
.nav-link i
{
    font-size: 1.5em;
}